.social-buttons {
	display: flex;
	height: 32px;
	list-style: none;
	padding: 0;
	margin: 0;
}

.social-buttons li {
	display: inline-block;
	width: 32px;
	margin: 0 0.3rem;
}

.social-buttons img {
	max-width: 32px;
	box-shadow: none;
	cursor: pointer;
}
.social-buttons img:hover {
	opacity: 0.6;
}

.social-buttons a {
	display: block;
	height: 32px;
}
/* Acceptation des cookies (cookieConsents) */
.cc-window.cc-theme-share_me {
	padding: 0;
	color: #fff;
	background-color: #496a75;
}
.cc-window.cc-theme-share_me.cc-floating {
	text-align: center;
	text-indent: 0;
}
.cc-window.cc-theme-share_me .cc-message {
	padding: 0.3rem 0.8rem;
}
.cc-window.cc-theme-share_me .cc-btn {
	background-color: #258fd6;
    color: #fff;
    letter-spacing: 0.2rem;
	border: none;
}

@media print {
	/* https://www.smashingmagazine.com/2011/11/how-to-set-up-a-print-style-sheet/ */
	.no-print,
	nav, aside, iframe,
	body > footer,
	body > .container > .footer, /* PluXml 5.5 */
	#footer-page,
	#comment,
	#pagination,
	#scrollToTop,
	.article ~ h2, /* PluXml 5.5 */
	.article + h3, /* PluXml 5.6 */
	.article ~ form,
	.social-buttons {
		display: none;
	}

	body {
		font-size: 10pt;
		font-family: serif;
	}

	p {
		text-align: justify;
		text-indent: 1rem;
	}
	table {
		page-break-inside: avoid;
	}

	h1, h2, h3, h4 {
		font-family: 'sans-serif';
	}

	#logo {
		width: 3cm;
	}

	a {
		text-decoration: none;
		color: #444;
		padding: 0 1.5mm;
	}
	.static-page a:after,
	.article a:after {
		font-style: italic;
		font-size: 80%;
		content: ' (' attr(href) ')';
	}

	body > header {
		display: flex;
		justify-content: space-between;
	}
	body > header h1,
	body > header h2 {
		text-align: center;
	}
}

@page {
	margin: 1.24cm 1cm 1.5cm;
}
